@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

/* -----------------------General styles-------------------- */
body{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    background-repeat: no-repeat;
}
#b1{
    left: 50%;
}
.heading{
    text-align: center;
    font-family:'Roboto Mono', monospace;
    font-size: 2.2em;
    font-weight: 700;
    color: rgb(51, 48, 48);
}


/* ------------------Header section styles--------------------------- */
header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: auto;
    width: 100vw;
    background-color: rgb(31,30,30,0.24);
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    height: 10em;
    width: 10em;
}
#logo img{
    height: 10em;
    width: 1em;
}
nav{
	background-color: rgba(31,30,30,0.24) !important; 
}
nav div:nth-child(2) li{
    display: inline-block;
    margin: 0rem;
}
nav div:nth-child(2) a{
    color: white;
    font-size: 1em;
    padding: 0.5em;
    text-transform: uppercase;
}
nav div:nth-child(2) a:hover{
    border-radius: 10px;
}
/* ---------------------------End------------------------------- */

/* ---------------------Introduction section-------------------------------- */
.intro{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/pexels-photo-6424244.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
.intro::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#00154f;
    opacity: .6;
    z-index: -1;
}
.intro h1,.intro h2{
    display: block;
    width: fit-content;
    font-size: 4rem;
    color: white;
    font-size: 'Roboto Mono', monospace;
    font-weight: 700;
}
.intro a{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    border: 2px solid grey;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-top: 36px;
}
#intro a:hover{
    background-color:#f2bc94;
}
#intro-logo img{
    display: block;
}
.container-fluid{
    position: relative;
}
#intro{
    position: absolute;
    top: 50%;
}

/* ------------------------------End-------------------------------------- */


/* --------------------------About us section----------------------------- */
#founders-description{
    margin-top: 7rem;
}
#founders-description h2{
    text-align: center;
    font-family:'Roboto Mono', monospace;
    font-size: 2.2em;
    font-weight: 700;
    color: rgb(51, 48, 48);
}
#founders-description h2 span{
    color: blue;
}
#founders-description p{
    text-align: center;
    line-height: 1.5em;
    padding: 2em;
}
#individuals{
    margin-top: 5em;
    margin-bottom: 3rem;
}
#individuals img{
    border-radius: 50%;
}
#individuals p{
    padding: 0.8em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
}
#individuals img{
    display: flex;
    align-items: center;
    justify-content: center;

}
#individuals button{
    align-items: center;
}
#p1,#p2,#p3,#p4,#p5,#p6{
    display: none;
}
/* --------------------------About us section----------------------------- */

/* -------------------------Testimonils--------------------------------- */
#slider{
    padding-top: 15%;
    font-family: poppins;
    background-image: url("../images/c.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .img-area{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
  }
  .img-area img{
    width: 100%;
  }
  .content{
    text-align: center;
    padding: 40px;
    color: black;
    background-color: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    border-radius: 25px;
  }
  .content h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .content p{
    line-height: 1.9;
  }
  .socials{
    margin-top: 30px;
  }
  .socials i{
    font-size: 20px;
    margin: 0 10px;
    color: black;
  }
  .owl-dots{
    text-align: center;
    margin-top: 3px;
  }
  .owl-dot{
    display: inline-block;
    height: 10px !important;
    width: 10px !important;
    background-color: #add !important;
    opacity: 0.8;
    margin: 0 10px;
    border-radius: 50%;
  }
  .owl-dot.active{
    background-color: black !important;
  }
  #testimonials{
      margin:7rem 0;

  }
/* -------------------------Testimonils--------------------------------- */

/* ---------------------------------footer section---------------------- */
footer{
    background-color: rgb(31,30,30,0.24);
    text-align: center;
}
#copy-right,#social{
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1.6rem;
}
#copy-right h5,#social h5{
    font-size: 2.2rem;
}

#copy-right h6{
    font-size: 1.6rem;
}
#social{
    font-size: 3.2rem;
}
/* ---------------------------------footer section---------------------- */